body{
  background-color: #d5bca6;
}

nav .content li:nth-child(4) a {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(231, 0, 140);
}

/* ======文章輪播欄位======*/
.article {
  width: 1024px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .article {
    max-width: 1024px;
    width: 100%;
  }
}

.top_article {
  margin: 110px auto;
  width: 768px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .top_article {
    padding: 0 20px;
    max-width: 768px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    font-size: 0;
  }
}

.top_article img {
  width: 100%;
}

.top_article:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
}

.top_article h1 {
  width: 80%;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  left: 5%;
  bottom: 10%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom_article {
  width: 1024px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .bottom_article {
    max-width: 1024px;
    width: 100%;
  }
}

.bottom_article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .bottom_article {
    padding: 0 20px;
  }
}

.bottom_article .select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 32px; /*可跟h2的底線重疊，不會形成上下緊貼*/
  border-bottom: 1px solid #ffffff;
}

@media screen and (max-width: 576px) {
  .bottom_article .select {
    border-bottom: none;
    text-align: center;
  }
}

.bottom_article h2 {
  line-height: 30px;
  color: #ffffff;
  border-bottom: 3px solid #e7008c;
}

@media screen and (max-width: 576px) {
  .bottom_article h2 {
    width: 100%;
    padding-bottom: 10px;
  }
}

.bottom_article .options {
  overflow: hidden;
  clear: both;
}

@media screen and (max-width: 576px) {
  .bottom_article .options {
    margin: 10px auto 0;
  }
}

.options .option {
  font-size: 14px;
  width: 65px;
  height: 25px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 19.8px;
  text-align: center;
  float: right;
}

.options .option:hover {
  background-color: rgb(64, 64, 64);
  transition: all 0.3s;
}

.article_box {
  display: flex; /*下面設float後再設flex會變整排橫排同一行，wrap後會斷行，再設justify-content: center;置中*/
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

@media screen and (max-width: 576px) {
  .article_box {
    margin-top: 52px;
  }
}

.newsbox {
  width: 25%;
  height: 360px;
  float: left; /*影評區塊內容橫排*/
  margin: 10px;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .newsbox {
    width: 40%;
  }
}

@media screen and (min-width: 400px) and (max-width: 576px) {
  .newsbox {
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .newsbox {
    margin: 0 auto;
    width: 250px;
  }
}

.photo_box {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
}

.photo_box img {
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo_box:hover img {
  transform: translate(-50%, -50%) scale(1.1); /*這裡加上translate避免hover後上面設定的translate失效，並將scale放後面，執行順序就會是先到定位再放大*/
  transition: all 0.5s ease 0s;
}

.newsbox .title {
  width: 100%;
  color: rgb(255, 255, 255);
  /* text-align: left; */
  margin: 5px 0px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.newsbox .name {
  height: 35px;
  font-size: 12px;
  color: #ffffff;
}

.newsbox .text {
  font-size: 16px;
  color: #808080;
  width: 100%;
  float: left;
  text-align: left;
  line-height: 1.5;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* ======頁尾區塊====== */
footer {
  width: 100%;
  height: 300px;
  margin-top: 0;
  background-color: #5e8686;
  margin-top: 80px;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  footer {
    max-width: 1200px;
    width: 100%;
  }
}

.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .main {
    max-width: 1200px;
    width: 100%;
  }
}

.main .pay {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main .pay {
    max-width: 1200px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .main .pay {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .main .pay {
    width: 100%;
  }
}

footer .footer_logo {
  width: 176px;
  margin-left: 50px;
  z-index: 2; /*縮到最小時不會被absolute的download區塊覆蓋*/
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .footer_logo {
    max-width: 176px;
    width: 100%;
    margin-right: 25px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  footer .footer_logo {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_logo {
    max-width: 100px;
    width: 100%;
    margin-left: 20px; /*LOGO區塊離左邊間距*/
  }
}

.credit_card {
  height: 130px;
  position: relative; /*底下圖片訂為基準*/
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .credit_card {
    max-height: 130px;
    height: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card {
    max-height: 110px;
    height: 100%;
    margin-right: 50px;
  }
}

@media screen and (max-width: 576px) {
  .credit_card {
    max-height: 74px;
    height: 100%;
    margin-right: 20px; /*信用卡資訊區塊離右邊間距*/
  }
}

.credit_card img {
  /*圖片設絕對定位靠下，計算距離靠最右*/
  width: 176px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .credit_card img {
    max-width: 176px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card img {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .credit_card img {
    max-width: 90px;
    width: 100%;
  }
}

.credit_card p {
  width: 297px; /*設寬讓文字超過自動斷行*/
  font-size: 12px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .credit_card p {
    max-width: 297px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card p {
    max-width: 250px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .credit_card p {
    max-width: 170px;
  }
}

.download {
  width: 579px;
  height: 300px;
  position: relative; /*下載圖標定為基準*/
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .download {
    max-width: 579px;
    width: 100%;
    margin-left: 35px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download {
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .download {
    position: absolute;
    width: 100%;
  }
}

.download .download_logo {
  position: absolute;
  bottom: 0; /*背景圖定在最下方，縮放時就不會跑掉*/
  left: 50%;
  transform: translateX(-50%); /*背景置中*/
  max-width: 450px;
  width: 100%;
  opacity: 0.6; /*這裡設透明度會影響整個download的IMG*/
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .download .download_logo {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download .download_logo {
    max-width: 450px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%); /*手機LOGO置中*/
  }
}

.download .applestore {
  position: absolute; /*圖片定位*/
  width: 120px;
  bottom: 10px;
  right: 200px;
  opacity: 1; /*這邊針對.appitem改回不透明*/
}

.download .google {
  position: absolute; /*圖片定位*/
  width: 120px;
  bottom: 10px;
  right: 50px;
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .download .applestore {
    max-width: 120px;
    width: 100%;
  }

  .download .google {
    max-width: 120px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download .applestore {
    max-width: 110px;
    width: 100%;
  }

  .download .google {
    max-width: 110px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .download .applestore {
    max-width: 100px;
    width: 100%;
    left: 25%; /*小於576px兩張圖分別再25%與75%位置*/
    transform: translateX(-25%);
  }

  .download .google {
    max-width: 100px;
    width: 100%;
    left: 75%; /*小於576px兩張圖分別再25%與75%位置*/
    transform: translateX(-75%);
  }
}
