@import url('reset.css');

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  line-height: 1.6;
  background-color: rgba(0, 0, 0, 0.7);
}

:root {
  --nav-height: 80px; /*nav高度宣告，便於帶入修改*/
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

/* ======漢堡選單====== */
.menu_btn {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  display: none;
}

.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

.menu_btn::before {
  content: '';
  position: absolute;
  height: 2px;
  left: 2px;
  width: 36px;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 12px 0 #ffffff, 0 -12px 0 #ffffff;
}

.hamburger {
  width: 200px;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 80px;
  transform: translateX(-100%);
}

.hamburger a {
  display: block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  /* padding: 10px 20px; */
  border-bottom: 2px solid #E7008C;
}

/* ======導覽列====== */
nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.7); /*此寫法可不讓子層跟著繼承透明度*/
  color: #ffffff;
  font-size: 0;
  height: var(--nav-height);
  position: sticky; /*導覽列跟著視窗滑動*/
  top: 0;
  left: 0; /*定在視窗最上面*/
  z-index: 5; /*讓banner不蓋住nav，且設到2可避免下面影評區塊的標題同層顯示*/
  transition: all 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: calc(var(--nav-height) - 20px); /*小於768時nav高度縮小20px*/
  }

  .hamburger {
    top: calc(var(--nav-height) - 20px);
    height: 100vh;
  }

  /*螢幕小於769px時，繼續隱藏*/
  nav ul li:nth-child(1) {
    display: none;
  }
  nav ul li:nth-child(2) {
    display: none;
  }
  nav ul li:nth-child(4) {
    display: none;
  }
  nav ul li:nth-child(5) {
    display: none;
  }
}

.nav_logo {
  position: absolute;
  top: 11px;
  margin-left: 65px;
}

@media screen and (max-width: 768px) {
  .nav_logo {
    margin-left: 10px; /*小於769時離左邊10px*/
  }
}

nav .nav_logo img {
  height: 58px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  nav .nav_logo img {
    height: 38px; /*小於768時LOGO縮小*/
  }
}

nav .content {
  line-height: 80px; /*設定與nav高度一樣讓文字垂直置中*/
}

/* nav .content li:nth-child(1) a {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(231, 0, 140);
} */

nav ul {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /*螢幕大於768小於等於993時，除了購買按鈕以外其他隱藏*/
  nav ul li:nth-child(1) {
    display: none;
  }
  nav ul li:nth-child(2) {
    display: none;
  }
  nav ul li:nth-child(4) {
    display: none;
  }
  nav ul li:nth-child(5) {
    display: none;
  }
  .menu_btn {
    display: block; /*漢堡選單出現*/
    top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .menu_btn {
    display: block;
    top: 10px; /*nav高度變60px時，漢堡top變10px置中*/
  }
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

ul .buy {
  /* display: block; 有吃到父層flex屬性所以不用再設block寫寬高*/
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  width: 232px;
  height: 116px; /*高度為原來一半才會半圓*/
  text-align: center;
  border-radius: 0 0 116px 116px; /*設定下半圓*/
  box-shadow: 0 15px 15px rgba(255, 255, 255, 0.5); /*陰影設定垂直位移15px,擴散15px,顏色及透明度*/
  background-image: radial-gradient(
    circle /* 90deg, */ 116px at 116px 0,
    #bc21c1 0%,
    #bc21c1 55%,
    #3f0041 100%
  );
  animation: shine 2s linear infinite; /*設置動畫*/
}

nav .buy a {
  display: block;
  height: 116px;
  border-radius: 0 0 116px 116px;
}

@media screen and (max-width: 768px) {
  ul .buy {
    width: 182px;
    height: 90px;
    font-size: 23px;
    border-radius: 0 0 90px 90px;
    background-image: radial-gradient(
      circle /* 90deg, */ 90px at 90px 0,
      #bc21c1 0%,
      #bc21c1 55%,
      #3f0041 100%
    );
  }
  nav a {
    display: block;
    height: 60px;
    line-height: 60px;
  }
}

@keyframes shine {
  /*啟用動畫*/
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

ul .buy:hover {
  filter: brightness(1.2);
}