@import url('reset.css');

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  line-height: 1.6;
}

:root {
  --nav-height: 80px; /*nav高度宣告，便於帶入修改*/
}

.wrapper {
  background-color: #d5bca6;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}

/* ======漢堡選單====== */
.menu_btn {
  width: 40px;
  height: 40px;
  /* background-color: #000000; */
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  display: none;
  transition: all 0.3s;
}

.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
}

.menu_btn::before {
  content: '';
  position: absolute;
  height: 2px;
  left: 2px;
  width: 36px;
  background-color: #ffffff;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 12px 0 #ffffff, 0 -12px 0 #ffffff;
}

/* ======導覽列====== */
nav {
  width: 1200px;
  background: rgba(0, 0, 0, 0.7); /*此寫法可不讓子層跟著繼承透明度*/
  color: #ffffff;
  font-size: 0;
  height: var(--nav-height);
  position: sticky; /*導覽列跟著視窗滑動*/
  top: 0;
  left: 0; /*定在視窗最上面*/
  z-index: 5; /*讓banner不蓋住nav，且設到2可避免下面影評區塊的標題同層顯示*/
  transition: all 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: calc(var(--nav-height) - 20px); /*小於768時nav高度縮小20px*/
  }
  .menu_btn {
    display: block;
    top: 10px; /*nav高度變60px時，漢堡top變10px置中*/
  }
  /*螢幕小於768px時，繼續隱藏*/
  nav ul li:nth-child(1) {
    display: none;
  }
  nav ul li:nth-child(2) {
    display: none;
  }
  nav ul li:nth-child(4) {
    display: none;
  }
  nav ul li:nth-child(5) {
    display: none;
  }
}

.nav_logo {
  position: absolute;
  top: 11px;
  margin-left: 65px;
}

@media screen and (max-width: 768px) {
  .nav_logo {
    margin-left: 10px; /*小於768時離左邊10px*/
  }
}

nav .nav_logo img {
  height: 58px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  nav .nav_logo img {
    height: 38px; /*小於768時LOGO縮小*/
  }
}

nav .content {
  line-height: 80px; /*設定與nav高度一樣讓文字垂直置中*/
}

nav ul {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

@media screen and (min-width: 769px) and (max-width: 993px) {
  /*螢幕大於768小於等於992時，除了購買按鈕以外其他隱藏*/
  nav ul li:nth-child(1) {
    display: none;
  }
  nav ul li:nth-child(2) {
    display: none;
  }
  nav ul li:nth-child(4) {
    display: none;
  }
  nav ul li:nth-child(5) {
    display: none;
  }
  .menu_btn {
    display: block;
    top: 20px;
  }
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

ul .buy {
  /* display: block; 有吃到父層flex屬性所以不用再設block寫寬高*/
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  width: 232px;
  height: 116px; /*高度為原來一半才會半圓*/
  text-align: center;
  border-radius: 0 0 116px 116px; /*設定下半圓*/
  box-shadow: 0 15px 15px rgba(255, 255, 255, 0.5); /*陰影設定垂直位移15px,擴散15px,顏色及透明度*/
  background-image: radial-gradient(
    circle /* 90deg, */ 116px at 116px 0,
    #bc21c1 0%,
    #bc21c1 55%,
    #3f0041 100%
  );
  animation: shine 2s linear infinite; /*設置動畫*/
}

@media screen and (max-width: 768px) {
  ul .buy {
    width: 182px;
    height: 90px;
    font-size: 23px;
    border-radius: 0 0 90px 90px;
    background-image: radial-gradient(
      circle /* 90deg, */ 90px at 90px 0,
      #bc21c1 0%,
      #bc21c1 55%,
      #3f0041 100%
    );
  }
  nav a {
    display: block;
    height: 60px;
    line-height: 60px;
  }
}

@keyframes shine {
  /*啟用動畫*/
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

ul .buy:hover {
  filter: brightness(1.2);
}

.banner {
  height: 600px;
  overflow: hidden; /*超出上面設定高度隱藏*/
  position: relative; /*讓下面IMG因absolute而超出範圍能回到原來隱藏大小*/
}

.banner img {
  display: block;
  width: 1200px;
  position: absolute; /*設絕對定位再用座標設定顯示位置*/
  top: -55px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .banner {
    width: 100%;
  }
  .banner img {
    min-width: 100%; /*最小寬100%，可以超過*/
    position: relative; /*定位在50%的地方，從最左上開始算*/
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 580px;
  }
  .banner img {
    min-width: 100%;
    position: relative;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ======電影選擇區塊====== */
main {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  main {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  main {
    width: 100%;
  }
}

main .select {
  text-align: center;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

main .select .btn_now {
  width: 125px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 52.5px;
  cursor: pointer;
  border-bottom: 2px solid transparent; /*在hover前藏住底線*/
}

main .select .btn_now:hover {
  transition: border-bottom 0.3s;
  text-shadow: 0 3px 6px #000000;
  border-bottom: 2px solid #e7008c; /*顯示被藏住的底線*/
}

main .select .coming_soon {
  width: 125px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 52.5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

main .select .coming_soon:hover {
  transition: border-bottom 0.3s;
  text-shadow: 0 3px 6px #000000;
  border-bottom: 2px solid #e7008c;
}

main ul {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center; /*子層項目垂直置中*/
  justify-content: space-between; /*伸縮項目平均分配並靠齊容器左右邊界*/
  margin-top: 35px;
}

main ul li {
  font-size: 0; /*取消li圖片底下空白*/
}

main li:hover img {
  /*在li被hover之後img的動作*/
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

ul .show {
  position: relative; /*sapn定位基準*/
}

ul .show .choose {
  display: none;
  position: absolute;
  width: 170px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  ul .show .choose {
    max-width: 170px;
    width: 100%;
  }
}

li .to_buy {
  display: block;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-decoration: none;
}

li .information {
  display: block;
  width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  li .to_buy {
    margin: 0 auto;
    max-width: 120px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }

  li .information {
    margin: 10px auto 0;
    max-width: 120px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

li .to_buy:hover {
  background-color: #e7008c;
  transition: 0.3s;
  text-shadow: 0 7px 8px rgba(0, 0, 0, 0.7);
}

li .information:hover {
  background-color: #e7008c;
  transition: 0.3s;
  text-shadow: 0 7px 8px rgba(0, 0, 0, 0.7);
}

ul .show:hover .choose {
  display: block; /*設為區塊就能顯示*/
}

main ul .l_shadow {
  /*左側圖陰影*/
  box-shadow: -10px 15px 8px rgba(0, 0, 0, 0.3);
}

main ul .m_shadow {
  /*中間圖陰影*/
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.3);
}

main ul .r_shadow {
  /*右側圖陰影*/
  box-shadow: 10px 15px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  /*小於768全部變下陰影*/
  main ul .rwd_img {
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.3);
  }
}

main .small {
  /*小圖尺寸*/
  width: 130px;
}

main .middle {
  /*中圖尺寸*/
  width: 180px;
}

main .large {
  /*大圖尺寸*/
  width: 270px;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  main ul {
    padding: 0 20px; /*斷點時能保持跟網頁邊界間距*/
    max-width: 1024px;
    width: 100%;
    transition: all 1s;
  }

  main li {
    margin-right: 15px; /*各li間距15px*/
  }

  main li:nth-child(5) {
    margin-right: 0; /*第五個li不需要所以設0，保持版型正常*/
  }

  main .small {
    /*小圖尺寸*/
    max-width: 130px;
    width: 100%;
  }

  main .middle {
    /*中圖尺寸*/
    max-width: 180px;
    width: 100%;
  }

  main .large {
    /*大圖尺寸*/
    max-width: 270px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  main ul {
    padding: 0 20px; /*斷點時能保持跟網頁邊界間距*/
    max-width: 640px;
    width: 100%;
    justify-content: center;
    align-items: baseline; /*對齊下方*/
    flex-wrap: wrap;
    transition: all 1s;
  }

  main li {
    margin: 15px; /*各li間距10px*/
  }

  main li .rwd_img {
    max-width: 150px;
    width: 100%;
  }
}

/* ======影評區塊====== */
article {
  width: 1024px;
  margin: 80px auto 0;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  article {
    max-width: 1024px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  article {
    max-width: 640px;
    width: 100%;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

.movie_review {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 35px;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  article .movie_review {
    max-width: 1024px;
    width: 100%;
    padding: 0 20px; /*斷點時能保持跟網頁邊界間距*/
    transition: all 1s; /*轉場動畫放在media query裡斷點才不會跳閃，放在原本的標籤裡會造成跳閃*/
  }

  h2 {
    padding: 0 20px;
    transition: all 1s;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  article .movie_review {
    max-width: 640px;
    width: 100%;
    padding: 0 20px; /*斷點時能保持跟網頁邊界間距*/
    transition: all 1s; /*轉場動畫放在media query裡斷點才不會跳閃，放在原本的標籤裡會造成跳閃*/
    display: block;
  }

  h2 {
    padding: 0 20px;
    transition: all 1s;
  }
}

.left {
  width: 420px;
  /* height: 236px; */
  font-size: 0;
  overflow: hidden; /*下面hover動畫放大時超出範圍隱藏*/
  position: relative;
}

.left:hover {
  cursor: pointer;
}

.left:hover img {
  /*動畫放大*/
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
}

.left p {
  width: 320px;
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  /* font-weight: bold; */
  top: 20px;
  left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1; /*讓img放大時字不會消失，應該是權限比重問題*/
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .left p {
    width: 500px;
  }
}

.left img {
  width: 420px;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  article .left {
    max-width: 420px;
    width: 100%;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .left img {
    max-width: 420px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  article .left {
    width: 100%;
  }

  .left img {
    width: 100%;
  }
}

.right {
  width: 562px;
  position: relative; /*日期文字定位基準*/
}

.right ul {
  width: 562px;
  display: flex;
  justify-content: space-between;
  /* align-content: space-between; */
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .right ul {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .right ul {
    width: 100%;
  }
}

.right ul li {
  width: 256px;
}

ul li .block {
  /*li裡的圖片包一層div，設定長寬，hover放大時就能hidden超出部分且不影響下面p段落*/
  width: 256px;
  overflow: hidden;
  font-size: 0;
}

.right li a {
  /*多行省略寫法*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  /*多行省略寫法*/
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .right li a {
    max-width: 256px;
    width: 100%;
  }
}

.right ul li:hover img {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
}

.right img {
  width: 100%;
}

.right .date {
  color: #ffffff;
  font-size: 12px;
  position: absolute; /*日期文字設絕對定位*/
  bottom: 0; /*定位在right的最下方，會去吃父層被圖片撐開的高度*/
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  article .right {
    max-width: 562px;
    width: 100%;
  }
  .right ul li {
    max-width: 256px;
    width: 100%;
    margin-right: 15px; /*各li的間距15px*/
  }

  .right ul li:nth-child(2) {
    margin-right: 0; /*第二個li不需要所以設0，保持版型正常*/
  }

  ul li .block {
    max-width: 256px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  article .right {
    /*小於768時，相對於movie_review的尺寸(640px)做滿版*/
    width: 100%;
    height: 220px; /*寫上寬度並加大讓日期繼續定在li最下方*/
    margin-top: 20px;
  }
}

/* ======頁尾區塊====== */
footer {
  width: 1200px;
  height: 300px;
  margin-top: 0;
  background-color: #5e8686;
  margin-top: 80px;
}

@media screen and (min-width: 320px) and (max-width: 1201px) {
  footer {
    max-width: 1200px;
    width: 100%;
  }
}

.main {
  margin: 0 auto;
  width: 1200px;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1201px) {
  .main {
    max-width: 1200px;
    width: 100%;
  }
}

.main .pay {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1201px) {
  .main .pay {
    max-width: 1200px;
    width: 100%;
  }
}

footer .footer_logo {
  width: 176px;
  margin-left: 50px;
  z-index: 2; /*縮到最小時不會被absolute的download區塊覆蓋*/
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  footer .footer_logo {
    max-width: 176px;
    width: 100%;
    margin-right: 25px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  footer .footer_logo {
    max-width: 136px;
    width: 100%;
  }
}

.credit_card {
  outline: 1px solid;
  height: 130px;
  position: relative; /*底下圖片訂為基準*/
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .credit_card {
    max-height: 130px;
    height: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card {
    max-height: 100px;
    height: 100%;
    margin-right: 50px;
  }
}

.credit_card img {
  /*圖片設絕對定位靠下，計算距離靠最右*/
  width: 176px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .credit_card img {
    max-width: 176px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card img {
    max-width: 150px;
  }
}

.credit_card p {
  width: 297px; /*設寬讓文字超過自動斷行*/
  font-size: 12px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .credit_card p {
    max-width: 297px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card p {
    max-width: 200px;
  }
}

.download {
  outline: 1px solid;
  width: 579px;
  height: 300px;
  position: relative; /*下載圖標定為基準*/
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .download {
    max-width: 579px;
    width: 100%;
    margin-left: 35px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download {
    position: absolute;
    width: 100%;
  }
}

.download .download_logo {
  position: absolute;
  bottom: 0; /*背景圖定在最下方，縮放時就不會跑掉*/
  width: 450px;
  opacity: 0.6; /*這裡設透明度會影響整個download的IMG*/
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .download .download_logo {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download .download_logo {
    max-width: 450px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.download .applestore {
  position: absolute; /*圖片定位*/
  width: 120px;
  bottom: 10px;
  right: 200px;
  opacity: 1; /*這邊針對.appitem改回不透明*/
}

.download .google {
  position: absolute; /*圖片定位*/
  width: 120px;
  bottom: 10px;
  right: 50px;
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1201px) {
  .download .applestore {
    max-width: 120px;
    width: 100%;
  }

  .download .google {
    max-width: 120px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download .applestore {
    top: 0;
    left: 0;
  }

  .download .google {
    max-width: 80px;
    width: 100%;
  }
}
