body{
  background-color: #d5bca6;
}

nav .content li:nth-child(1) a {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(231, 0, 140);
}

/* ======Swiper輪播======*/
.swiper-container {
  /* margin: 0 auto; */
  /* width: 100%; */
  /* max-height: 1080px; */
  /* height: 100%; */
  position: relative;/*輪播箭頭定位*/
  overflow: hidden;
}

.swiper-wrapper img {/*輪播圖縮放*/
  /* display: block; */
  /* max-width: 1920px; */
  width: 100%;
}

/* ======電影時刻顯示區塊====== */
main {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  main {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  main {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  main {
    width: 100%;
  }
}

main .select {
  text-align: center;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

main .select .btn_now {
  width: 125px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 52.5px;
  cursor: pointer;
  border-bottom: 2px solid transparent; /*在hover前藏住底線*/
}

main .select .btn_now:hover {
  transition: border-bottom 0.3s;
  text-shadow: 0 3px 6px #000000;
  border-bottom: 2px solid #e7008c; /*顯示被藏住的底線*/
}

main .select .coming_soon {
  width: 125px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 52.5px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

main .select .coming_soon:hover {
  transition: border-bottom 0.3s;
  text-shadow: 0 3px 6px #000000;
  border-bottom: 2px solid #e7008c;
}

@media screen and (max-width: 576px) {
  main .select .btn_now {
    width: 120px;
    font-size: 20px;
    margin: 0 10px;
  }

  main .select .coming_soon {
    width: 120px;
    font-size: 20px;
    margin: 0 10px;
  }
}

.movie_bar {
  width: 1024px;
  margin: 0 auto;
  margin-top: 35px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .movie_bar {
    max-width: 1024px;
    width: 100%;
    padding: 0 20px;
    transition: all 1s;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .movie_bar {
    max-width: 560px;
    width: 100%;
    padding: 0 20px;
    transition: all 1s;
  }
}

@media screen and (max-width: 576px) {
  .movie_bar {
    width: 100%;
    padding: 0 20px;
    transition: all 1s;
  }
}

main .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

main .items .list {
  width: 200px; /*電影框範圍*/
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  main .items .list {
    max-width: 160px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  main .items .list {
    max-width: 220px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  main .items .list {
    max-width: 40%; /*強制畫面一次顯示兩個*/
  }
}

main .items .movie_pic {
  font-size: 0; /*取消底部因圖片產生的空白*/
  /* height: 282px; */
  /* overflow: hidden; 超出上面電影框範圍隱藏 */
}

/* @media screen and (min-width: 768px) and (max-width: 1200px) {
  main .items .movie_pic {
    outline: 1px solid;
    max-height: 282px;
    height: 100%;
    overflow: hidden;
  }
} */

main .items .name {
  text-align: center;
  margin-top: 30px;
}

.items .name h2 {
  color: #ffffff;
  font-size: 20px;
}

.items .name p {
  color: #808080;
  font-size: 14px;
}

.items .grade {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #808080;
  width: 85px;
  height: 20px;
  border: 1px solid #808080;
  border-radius: 12.5px;
  margin: 0 auto;
  margin-top: 5px;
}

main .movie_pic img {
  width: 100%;
}

.items .down {
  margin-top: 70px;
}

.items .left {
  box-shadow: -10px 15px 8px rgba(0, 0, 0, 0.3);
}

.items .right {
  box-shadow: 10px 15px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  /*排列反轉*/
  main .items .list:nth-child(2n + 1) {
    margin-top: 70px;
  }

  main .items .list:nth-child(2n) {
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  /*排列反轉*/
  main .items .list:nth-child(2n + 1) {
    margin-top: 70px;
  }

  main .items .list:nth-child(2n) {
    margin-top: 0;
  }
}

/* ======頁尾區塊====== */
footer {
  width: 100%;
  height: 300px;
  margin-top: 0;
  background-color: #5e8686;
  margin-top: 80px;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  footer {
    max-width: 1200px;
    width: 100%;
  }
}

.main {
  margin: 0 auto;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .main {
    max-width: 1200px;
    width: 100%;
  }
}

.main .pay {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main .pay {
    max-width: 1200px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .main .pay {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .main .pay {
    width: 100%;
  }
}

footer .footer_logo {
  width: 176px;
  margin-left: 50px;
  z-index: 2; /*縮到最小時不會被absolute的download區塊覆蓋*/
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  footer .footer_logo {
    max-width: 176px;
    width: 100%;
    margin-right: 25px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  footer .footer_logo {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  footer .footer_logo {
    max-width: 100px;
    width: 100%;
    margin-left: 20px; /*LOGO區塊離左邊間距*/
  }
}

.credit_card {
  height: 130px;
  position: relative; /*底下圖片訂為基準*/
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .credit_card {
    max-height: 130px;
    height: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card {
    max-height: 110px;
    height: 100%;
    margin-right: 50px;
  }
}

@media screen and (max-width: 576px) {
  .credit_card {
    max-height: 74px;
    height: 100%;
    margin-right: 20px; /*信用卡資訊區塊離右邊間距*/
  }
}

.credit_card img {
  /*圖片設絕對定位靠下，計算距離靠最右*/
  width: 176px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .credit_card img {
    max-width: 176px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card img {
    max-width: 150px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .credit_card img {
    max-width: 90px;
    width: 100%;
  }
}

.credit_card p {
  width: 297px; /*設寬讓文字超過自動斷行*/
  font-size: 12px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .credit_card p {
    max-width: 297px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .credit_card p {
    max-width: 250px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .credit_card p {
    max-width: 170px;
  }
}

.download {
  width: 579px;
  height: 300px;
  position: relative; /*下載圖標定為基準*/
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .download {
    max-width: 579px;
    width: 100%;
    margin-left: 35px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download {
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .download {
    position: absolute;
    width: 100%;
  }
}

.download .download_logo {
  position: absolute;
  bottom: 0; /*背景圖定在最下方，縮放時就不會跑掉*/
  left: 50%;
  transform: translateX(-50%); /*背景置中*/
  max-width: 450px;
  width: 100%;
  opacity: 0.6; /*這裡設透明度會影響整個download的IMG*/
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .download .download_logo {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download .download_logo {
    max-width: 450px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%); /*手機LOGO置中*/
  }
}

.download .applestore {
  position: absolute; /*圖片定位*/
  width: 120px;
  bottom: 10px;
  right: 200px;
  opacity: 1; /*這邊針對.appitem改回不透明*/
}

.download .google {
  position: absolute; /*圖片定位*/
  width: 120px;
  bottom: 10px;
  right: 50px;
  opacity: 1;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .download .applestore {
    max-width: 120px;
    width: 100%;
  }

  .download .google {
    max-width: 120px;
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .download .applestore {
    max-width: 110px;
    width: 100%;
  }

  .download .google {
    max-width: 110px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .download .applestore {
    max-width: 100px;
    width: 100%;
    left: 25%; /*小於576px兩張圖分別再25%與75%位置*/
    transform: translateX(-25%);
  }

  .download .google {
    max-width: 100px;
    width: 100%;
    left: 75%; /*小於576px兩張圖分別再25%與75%位置*/
    transform: translateX(-75%);
  }
}
